target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### Keep IDEA Plugin and Formatter Config ###
!.idea/eclipseCodeFormatter.xml
!.idea/evosec-eclipseformatter.xml
!.idea/externalDependencies.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
